#app {
   height: 100%;
   position: relative;
}

.kw-body {
   display: none;
}

.kw-teams {
   color: $color-4-2-card-supportive-text;
   font-size: 14px;
   line-height: 24px;
   min-height: 24px;
}

.kw-score {
   font-size: 12px;
   line-height: 24px;
   min-width: 12px;
}

.kw-bar-score {
   width: 0;
}

.kw-bar-wrapper {
   background-color: $bar-background;
   height: 4px;

   > div {
      @include transition(.5s ease-out all);
   }
}

.kw-table-item {
   margin-bottom: 8px;
   min-height: 24px;

   [data-item-attr="home"] {
      @include box-orient(row-reverse);

      .kw-score {
         position: relative;
         &:after {
            content: '-';
            height: 3px;
            position: absolute;
            right: -2px;
            top: 0;
            width: 3px;
         }
      }
   }
   // Default color for the bar
   .lost-game {
      background-color: $lost-color;
   }
   .drawn-game {
      background-color: $drawn-color;
   }
   .won-game {
      background-color: $won-color;
   }
}
