$table-border: 1px solid darken($color-4-1-card-border, 20%);

.kw-main {
   height: 100%;
}

[data-item-attr="home"], [data-item-attr="away"] {
   height: 35px;
}

.kw-teams {
   font-size: 16px;
   border-top: $table-border;
   border-bottom: $table-border;

   [data-item-attr="home"] {
      border-right: $table-border;
   }
}

.kw-table-item {
   border-bottom: $table-border;

   [data-item-attr="home"] {
      border-right: $table-border;
      @include box-orient(row-reverse);
   }
}

.kw-table-item {
   font-size: 14px;
   background-color: $color-4-1-card-background-hover;
   .kw-bar-zero {
      width: 15px;
      background-color: $zero-color;
   }

   [data-item-attr="home"] .kw-bar-score {
      background-color: $home-color;
   }

   [data-item-attr="away"] .kw-bar-score {
      background-color: $away-color;
   }

   .kw-bar-empty {
      background-color: rgba(0,0,0,0);
   }

   [data-item-attr="away"] .kw-bar-wrapper {
      @include box-orient(row-reverse);
   }
}
