@import '../../../shared';

:local(.container) {
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
}

:local(.containerReversed) {
   display:flex;
   flex-direction: row-reverse;
   flex-wrap: nowrap;
   align-items: center;
}

:local(.name) {
   @include smoothing();
   font-size: 16px;
   display: block;
   text-align: right;
   margin-right: 17px;
}

:local(.nameReversed) {
   @include smoothing();
   font-size: 16px;
   display: block;
   text-align: left;
   margin-left: 17px;
}

:local(.scoreBox) {
   border-radius: 2px;
   text-align: center;
   background-color: #333333;
   width: 38px;
   height: 40px;
   min-height: 40px;
   min-width: 38px;
   margin: 0 5px;
}

:local(.scoreValue) {
   @include smoothing();
   font-size: 24px;
   font-weight: bold;
   line-height: 40px;
   color: #FFFFFF;
}
