<!doctype html>
<html ng-app="headToHeadWidget">
<head>
   <title>Head to head</title>
   <meta charset="UTF-8">
   <meta name="apple-mobile-web-app-title" content="Kambi">
   <meta name="description" content="Kambi Sportsbook Head to Head widget">
   <meta name="HandheldFriendly" content="True">
   <meta name="MobileOptimized" content="320">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

   <meta name="fragment" content="!"/>

   <meta name="mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   <meta name="apple-mobile-web-app-title" content="">

   <!-- Include some fonts/iconfonts that we want to use -->
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>

   <!-- build:css -->
   <!-- This section will be replaced in the gulp build process -->
   <link rel="stylesheet" type="text/css" href="css/app.css"/>
   <!-- endbuild -->

   <!-- Include angular and the the Kambi widget api -->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

   <!-- build:js -->
   <!-- This section will be replaced in the gulp build process -->
   <script src="js/app.js"></script>
   <script src="js/controllers/appController.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/controllers/widgetCoreController.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/kambiWidgetService.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/kambiAPIService.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-core-translate/dist/translate.js"></script>
   <!-- endbuild -->
   <script src="https://c3-static.kambi.com/sb-mobileclient/widget-api/1.0.0.7/kambi-widget-api.js"></script>
</head>

<body class="kw-body">
<div class="kw-card l-flexbox l-vertical l-expander" ng-controller="appController" ng-cloak>

   <!--Header-->
   <header class="kw-header l-flexbox">
      <div class="l-flex-2 l-flexbox l-pack-center">{{data.homeName}}</div>
      <div class="l-flexed l-flexbox l-pack-center">vs</div>
      <div class="l-flex-2 l-flexbox l-pack-center">{{data.awayName}}</div>
   </header>

   <!--Main-->
   <main id="kw-main l-flexbox l-vertical" class="kw-main">

      <!--History-->
      <div class="kw-border-bottom" ng-if="defaultArgs.enabled.history">
         <h4 class="l-flexbox l-pack-center l-mt-5"><strong>{{ 'History' | translate }}</strong></h4>
         <div id="kw-history" class="kw-history l-flexbox l-horizontal l-flexed">
            <div class="l-flexbox l-pack-center l-align-center l-flexed l-vertical"
                 ng-repeat="(key, value) in data.statistics.history">

               <span ng-if="$index === 1">{{ 'Draws' | translate }}</span>
               <span ng-if="$index !== 1">{{ 'Wins' | translate }}</span>
               <span class="kw-history-circle l-flexbox l-pack-center l-align-center"
                     style="height: {{ circle_height / history_max * value }}px; width: {{ circle_height / history_max * value }}px;">
                  {{value}}
               </span>
            </div>
         </div>
      </div>

      <!--Last Meetings-->
      <div class="kw-border-bottom l-pt-10" ng-if="defaultArgs.enabled.meetings">
         <h4 class="l-flexbox l-pack-center l-mb-5"><strong>{{ 'Last Meetings' | translate }}</strong></h4>
         <div id="kw-last-meetings" class="kw-last-meetings l-flexbox l-vertical l-flexed l-pl-15 l-pr-15 l-pb-5">

            <div class="kw-last-meeting l-flexbox l-pack-center l-align-center l-flexed l-horizontal l-mb-10"
                 ng-repeat="stat in data.statistics.lastMeetings">

               <div class="l-flexbox l-flex-1 l-pack-end l-align-center">
               <span class="kw-stat-bar l-flexbox l-pack-end l-align-center" style="width: {{ stat.homeScore / meetings_max * 100 | number: 1 }}%">
                  <span class="kw-stat-value l-pl-15 l-pr-5">{{stat.homeScore | number: 0}}</span>
               </span>
               </div>

               <div class="l-flexbox l-flex-1 l-pack-start l-align-center">
                  <span class="kw-stat-bar l-flexbox l-pack-start l-align-center" style="width: {{ stat.awayScore / meetings_max * 100 | number: 1 }}%">
                     <span class="kw-stat-value l-pl-5 l-pr-15">{{stat.awayScore | number: 0}}</span>
                  </span>
               </div>
            </div>

         </div>
      </div>

      <!--Performance-->
      <div ng-if="defaultArgs.enabled.performance" class="kw-border-bottom l-p-15 l-pt-10">
         <h4 class="l-flexbox l-pack-center l-mb-5">
            <span>{{ performance_home_total / performance_total * 100 | number: 1 }}%</span>
            <strong class="l-flex-1 l-flexbox l-pack-center">{{ 'Performance' | translate }}</strong>
            <span>{{ performance_away_total / performance_total * 100 | number: 1 }}%</span>
         </h4>
         <div class="kw-performance l-flexbox l-vertical l-flexed">

            <!--tendency labels-->
            <div class="l-flexbox l-horizontal l-mb-15">
               <!--Home Team-->
               <div class="l-flexbox l-flex-1 l-pack-end l-mr-5">
                  <div class="kw-performance-tendency tendency-{{stat.tendency}} l-flexbox l-pack-center l-align-center l-flexed l-horizontal"
                       ng-repeat="stat in data.statistics.performance['homeTeam']">
                     {{stat.tendency}}
                  </div>
               </div>

               <!--Away Team-->
               <div class="l-flexbox l-flex-1 l-pack-start l-pl-5">
                  <div class="kw-performance-tendency tendency-{{stat.tendency}} l-flexbox l-pack-center l-align-center l-flexed l-horizontal"
                       ng-repeat="stat in data.statistics.performance['awayTeam']">
                     {{stat.tendency}}
                  </div>
               </div>
            </div>

            <!--Performance points-->
            <div class="l-flexbox l-horizontal">
               <!--Home team-->
               <div class="kw-performance-points l-flexed l-flexbox l-mr-5">
                  <div style="width: {{ performance_home_total / performance_total * 100 | number: 1 }}%"
                       class="l-flexbox">
                  </div>
               </div>

               <!--Away team-->
               <div class="kw-performance-points l-flexed l-flexbox l-ml-5">
                  <div style="width: {{ performance_away_total / performance_total * 100 | number: 1 }}%"
                       class="l-flexbox">
                  </div>
               </div>
            </div>

         </div>
      </div>

      <!--League table-->
      <div ng-if="defaultArgs.enabled.leagueTable" class="l-pt-10">

         <h4 class="l-flexbox l-pack-center l-mb-5">
            <strong class="l-flexbox l-pack-center l-mr-10">{{ 'League Table' | translate }}</strong>
         </h4>

         <div class="" ><!--Table header-->
            <div class="kw-table-header kw-border-bottom l-flexbox l-horizontal l-align-center l-pl-15 l-pr-15">
               <div data-item-attr="{{headerKey}}"
                    title="{{bodyKey}}"
                    class="l-flex-1 text-truncate"
                    ng-repeat="(headerKey, headerValue) in columnLabels">{{headerValue}}
               </div>
            </div>

            <!--Competitors table body-->
            <div class="kw-table-item l-flexbox l-horizontal l-align-center l-pl-15 l-pr-15 "
                 ng-if="leagueTableRow.participantName === data.homeName || leagueTableRow.participantName === data.awayName"
                 ng-repeat="leagueTableRow in leagueTableRows">
               <div data-item-attr="{{bodyKey}}" title="{{bodyKey}}"
                    class="l-flex-1"
                    ng-class="{'text-truncate': bodyValue.length > 20}"
                    ng-repeat="(bodyKey, bodyValue) in leagueTableRow">{{bodyValue}}
               </div>
            </div>
         </div>

      </div>

   </main>

</div>
</body>
</html>
