@import '../../shared';

:local(.general) {
   @include smoothing();
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

:local(.shared) {
   border-radius: 2px;
}

@mixin shared {
   @include smoothing();
   border-radius: 2px;
   display: block;
   font-weight: bold;
   line-height: 40px;
   width: 32px;
   height: 40px;
}

:local(.win) {
   @include shared;
   color: #608A36;
   background: #B8E986;
}

:local(.draw) {
   @include shared;
   color: #397492;
   background: #98D5F4;
}

:local(.lost) {
   @include shared;
   color: #AC0000;
   background: #E98686;
}

